.audio--player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background: rgb(22, 4, 18);
    color: #fbfafa;
    position: fixed;
    bottom: 58px;
    padding: 1rem;
    width: 100%;
    left: 0;
    z-index: 444;
    transition: 0.3s linear;
}

.audio--player.expand {
    top: 0;
    bottom: initial;
    height: 100vh;
    justify-content: center;
    background: rgb(8, 1, 23);
    gap: 1.5rem;
    transition: 0.3s linear;
}

.expand .audio--info {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
}

.expand .audio--info .text--info {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.expand .audio--info>img {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 20px rgba(54, 246, 111, 0.307));
}

.audio--info {
    display: flex;
    gap: 8px;
    padding: 5px;
    min-width: 20%;
    align-items: center;
}


.audio--info>img {
    width: 45px;
    height: 42px;
    object-fit: cover;
    border-radius: 5px;
}

.img--loader {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #ccc;
}

.expand .text--info>h3 {
    font-size: .9rem;
    font-weight: 700;
}

.text--info>h3 {
    margin: 0;
    font-weight: 500;
    font-size: clamp(.75rem, 1.5vw, .9rem);
}


.text--info>p {
    margin: 0;
    font-weight: 500;
    font-size: clamp(.8rem, 1.5vw, .9rem);
}

.expand .text--info>p {
    font-size: .9rem;
}




.audio--controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.expand .audio--controls {
    gap: 1rem;
}

.playback {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.playback button {
    background: #fff;
    color: #000;
    padding: 10px;
    display: flex;
    border-radius: 50%;
    font-size: 1.2rem;
}

button.play--btn {
    background: #6cfa6c;
    color: #000000;
}

.media--player {
    display: flex;
    gap: 8px;
    align-items: center;
    min-width: 300px;
    width: 100%;
    max-width: 700px;
}

.media--player>p {
    font-size: .9rem;
}

#audio--progress {
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.6);
    background-image: linear-gradient(#49f368, #86fe52);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    height: 0.3rem;
    cursor: pointer;
    border-radius: 5px;
    min-width: 200px;
    width: 100%;
    max-width: 600px;
}

#audio--progress::-webkit-slider-runnable-track {
    appearance: none;
    --track-height: 0.3rem;
    background: transparent;
    border-radius: 20px;
    transition: 0.3s linear;
}

#audio--progress::-webkit-slider-thumb {
    --thumb-height: 15px;
    -webkit-appearance: none;
    appearance: none;
    cursor: ew-resize;
    background: #39f75c;
    height: var(--thumb-height);
    width: var(--thumb-height);
    transition: 0.3s linear;
    opacity: 0;
    border-radius: 50%;
}

#audio--progress:hover::-webkit-slider-thumb {
    opacity: 1;
}


.add--controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}


#volume--control {
    -webkit-appearance: none;
    appearance: none;
    background: rgba(87, 86, 86, 0.6);
    background-image: linear-gradient(#ecf2ed, #eff3ed);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    height: 0.3rem;
    cursor: pointer;
    border-radius: 5px;
    /* width: 20rem; */
}

#volume--control::-webkit-slider-runnable-track {
    appearance: none;
    --track-height: 0.3rem;
    background: transparent;
    border-radius: 20px;
    transition: 0.3s linear;
}

#volume--control::-webkit-slider-thumb {
    --thumb-height: 18px;
    -webkit-appearance: none;
    appearance: none;
    cursor: ew-resize;
    background: #39f75c;
    height: var(--thumb-height);
    width: 18px;
    border-radius: 50%;
}

.expand--btn {
    border: none;
    outline: none;
    font-size: 1.3rem;
    background: rgba(121, 121, 121, 0.989);
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.alternate {
    background: #fff;
    color: #000;
    padding: 8px;
    border-radius: 50%;
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.hide {
    /* display: none; */
    height: 0px;
    overflow: hidden;
    opacity: 0;
}

@media (hover:hover) {
    button:not(.expand--btn, .search--btn, .listen--btn):hover {
        filter: brightness(50%);
    }

    .expand--btn:hover {
        background: rgba(72, 72, 72, 0.989);
    }
}


@media (width > 700px) {
    .audio--player {
        flex-direction: row;
    }

    .audio--controls {
        min-width: 300px;
        width: 30%;
        max-width: 700px;
    }

    .audio--info>img {
        width: 50px;
        height: 50px;
    }
}