@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import './Components/Styles/Style.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}

#root {
  height: 100vh;
  color: #ffffff;
  background: rgb(24, 0, 48);
  text-align: left;
  background: linear-gradient(270deg,
      rgb(23, 22, 23) 20%,
      rgb(25, 1, 9) 90%);
  overflow: hidden;
}

.main--container {
  display: flex;
  flex-direction: column;
}



h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.loader {
  margin: 10px auto;
  text-align: center;
  width: fit-content;
}








.home--wrapper {
  flex-grow: 1;
}


button,
button:active,
a:active,
a {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

button {
  display: flex;
  border: none;
  outline: none;
}

@media (width > 600px) {
  .main--container {
    flex-direction: row;
  }

  .audio--player {
    bottom: 0px;
  }

  .navbar--pc {
    min-width: 300px;
    flex-basis: 50%;
    max-width: 350px;
  }
}

@media (hover:hover) {
  button {
    cursor: pointer;
  }
}