@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#root {
  min-height: 100vh;
  color: #ffffff;
  background: rgb(24, 0, 48);
  text-align: center;
  padding: 1rem 0;
  background: radial-gradient(circle,
      rgba(24, 0, 48, 1) 12%,
      rgba(2, 1, 25, 1) 100%);
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

a {
  font-size: 1.5rem;
  color: red;
  text-decoration: none;
}

button:not([type="submit"]) {
  padding: 10px 1.5rem;
  margin: 10px 0;
  border-radius: 5px;
  text-transform: uppercase;
  background: #fff;
  border: none;
  outline: none;
  color: #000;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
}

button:not([type="submit"]):hover {
  background: #ccc;
}


form {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px auto;
  width: fit-content;
}

form input {
  color: #000;
  padding: 5px 1rem;
  border-radius: 5px;
}

form button[type="submit"] {
  border: none;
  outline: none;
  background: yellow;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

form button[type="submit"]:hover {
  background: #7ff5a6;
}

.artists--container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  width: 90%;
  margin: 5px auto;
}

.artists--wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  border-radius: 5px;
  margin: 1rem auto;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  background: rgba(87, 87, 87, 0.3);
}

.artists--wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  height: 0%;
  background: linear-gradient(to bottom, transparent, #74fb9663);
  transform: scale(0);
  transform-origin: center;
  border-radius: 0 0 5px 5px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}



.artists--wrapper>img {
  border-radius: 5px 5px 0 0;
}


.artists--wrapper>h2 {
  padding: 0px 10px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
}

@media (width > 500px) {
  .artists--container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (hover:hover) {
  .artists--wrapper:hover::after {
    height: 100%;
    transform: scale(1);
  }
}


@media (width > 1000px) {
  .artists--container {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (width > 1300px) {
  .artists--container {
    grid-template-columns: repeat(4, 1fr);
  }
}