@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import './Components/Styles/Style.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#root {
  min-height: 100vh;
  color: #ffffff;
  background: rgb(24, 0, 48);
  text-align: left;
  background: radial-gradient(circle,
      rgba(24, 0, 48, 1) 12%,
      rgba(2, 1, 25, 1) 100%);
}

.main--container {
  display: flex;
  flex-direction: column;
}



h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.loader {
  margin: 10px auto;
  text-align: center;
  width: fit-content;
}


button:not([type="submit"]) {
  padding: 6px 1.5rem;
  margin: 10px 0;
  border-radius: 5px;
  text-transform: uppercase;
  background: #fff;
  border: none;
  outline: none;
  color: #000;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
}

button:not([type="submit"]):hover {
  background: #ccc;
}


form {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  width: fit-content;
}

form input {
  color: #000;
  padding: 5px 1rem;
  border-radius: 5px;
  width: 100%;
}

form button[type="submit"] {
  border: none;
  outline: none;
  background: yellow;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

form button[type="submit"]:hover {
  background: #7ff5a6;
}


.home--wrapper {
  flex-grow: 1;
}



@media (width > 600px) {
  .main--container {
    flex-direction: row;
  }

  .navbar--pc {
    min-width: 300px;
    flex-basis: 50%;
    max-width: 350px;
  }
}